<div class="game-tabs">
    <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
        <mat-tab label="About">
            <p class="game-tabs-par">
                Platforms:
                <span>PC</span>
            </p>
            <p class="game-tabs-par">
                Publishers:
                <span>Konami</span>
            </p>
            <p class="game-tabs-par">
                Website:
                <a href="#" class="game-tabs-link" target="_blank">http://</a>
            </p>
            <div class="game-description">Some description</div>
            <p class="game-tabs-votes">
                <span>
                    <mat-icon class="game-votes-up">thumb_up</mat-icon>
                    <span class="game-votes-count">55</span>
                </span>
                <span>
                    <mat-icon class="game-votes-down">thumb_down</mat-icon>
                    <span class="game-votes-count">14</span>
                </span>
            </p>
        </mat-tab>
        <mat-tab label="Screenshots">
            <img class="game-screenshot"
                src="https://media.rawg.io/media/resize/420/-/screenshots/831/8314575622c6ac8de538e890ec6a2aab.jpg"
                alt="screenshot">
        </mat-tab>
        <mat-tab label="Trailes">
            <video class="game-trailer" controls
                src="https://media.rawg.io/media/stories/b3b/b3b872ae7c4e95cfd6d999b2bda384e8.mp4" type="video/mp4">
                Your browser does not support the video tag.</video>
        </mat-tab>
    </mat-tab-group>
</div>